html {
    background-color: black; /* background */
    height: auto;
}

body {
    margin: auto;
    height: 100vh;
    text-align: center;
}

.doorzone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.door {
    cursor: pointer;
}