html {
    background-color: #010b1c; /* background */
    height: auto;
}

body {
    margin: auto;
    height: 100%;
    text-align: center;
}

.doorzone {
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

